/* .navbar {
    list-style-type: none;
    margin: 2%;
    padding-left: 12%;
    overflow: hidden;
    background-color: #333;
}
  
.links {
    float: left;
}
  
.links {
    display: inline-block;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
}
  
.links :hover {
    background-color: #111;
}
body, html {
    height: 100%;
    margin: 2%;
}
.textInPortfolioHeader {
    list-style-type: none;
    margin: 2%;
    padding: 2%;
    font-family: Helvetica, sans-serif;
    font-size: 42px;
    color: white;
    overflow: hidden;
    background-color: rgb(88, 152, 194);
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 15%;
    border-style: solid;
    border-width: 4px;
    border-color: #333;
  }
  
  h1 {
      list-style-type: none;
      margin: 2%;
      padding: 2%;
      font-family: Monoton, Helvetica;
      font-size: 42px;
      word-spacing: 18px;
      color: white;
      overflow: hidden;
      background-color: rgb(88, 152, 194);
      padding-top: 10px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-left: 20%;
      border-style: solid;
      border-width: 4px;
      border-color: #333;
    }
  .Douglas {
   
    background-image: url("https://images.pexels.com/photos/4585185/pexels-photo-4585185.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  
    
     /* margin: 5%;
    padding-top: 1%;
    padding-left: 3%;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    word-spacing: 38px;
    color: white;
    text-indent: 5%;
    height: 70%; 
    margin: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .surreal {
  
      background-image: url("https://fantasyartdesign.com/3dgallery/a-digital/3D-images/02fantasy3d-Ciberf/fantasy-wallpaper02.jpg");
      height: 810px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;

.footer



.footerIcons
  
} 
*/  